<%= javascript_include_tag "propulsion_1.2" %>
<%= javascript_include_tag "prefgames" %>
<div>
  <%= image_tag("rails.png") %> 
  <%= link_to_function "Get table data", "cardT.get_table_data()" %>
</div>
<%= content_tag(:div , @prefgame.id, :id => "urlid" ) %>
<div id="jerror"></div>
<div id="log"></div>

<%= form_tag "/prefgames/51/data", remote: true do |f| %>
  <%= text_field_tag :content %>
  <%= submit_tag "Send" %>
<% end %>

<canvas id="main"></canvas>
<%= subscribe_to "/messages/new" %>

